<main>
    <div class="container">
        <div class="col-9">

            <!-- Start Pet Photo Post Section -->
            <div class="card">
                <div class="top">

                    <!-- Start User Details and Image Location Section -->
                    <div class="userDetails">

                        <!-- Link to User Profile Details Page-->
                        <div>
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="/static/images/person.png" alt="img8">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>

                            <!-- Link to User Profile Details Page -->
                            <p>{{creatures.owner.username}}</p>
                            <span>{{creatures.location}}</span>

                            {{#if isOwner}}
                            <div class="edit-delete-btns">

                                <!-- Edit Pet Photo -->
                                <a href="/creatures/{{creatures._id}}/edit">
                                    <img class="edit-img" src="/static/images/edit-pen-icon-6.jpg" alt="edit button">
                                </a>

                                <!--Delete Pet Photo -->
                                <a href="/creatures/{{creatures._id}}/delete">
                                    <img class="bin-img" src="/static/images/icon-remove-22.jpg" alt="bin button">
                                </a>
                            </div>
                            {{/if}}
                        </h3>
                    </div>

                </div>

                <!-- Start Pet Photo -->
                <div class="imgBx">
                    <!-- Pet Photo -->
                    <img src="{{creatures.image}}" alt="{{creature.name}}" class="cover">
                </div>



                <div class="bottom">

                    <p class="message">
                        <b class="petDescription">{{creatures.description}}</b>
                    </p>


                    <!-- Photo description -->
                    <div class="pet-details">
                        <p class="petName">Name: {{creatures.name}}</p>
                        <p class="petAge">Age: {{creatures.age}}</p>
                    </div>


                    <div class="comments">
                        <div class="comments-top">

                            {{#each creatures.commentList}}  

                            {{> comment}}

                            {{/each}} 

                        </div>
                    </div>
                </div>
                {{#if isAuthenticated}}
                {{#unless isOwner}}
                <div class="addComments">
                    <!-- Start Add Comments Form -->
                    <form method="POST" action="/creatures/{{creatures._id}}/comments">
                        <textarea id="comment-textarea" name="message" cols="40" rows="10"
                            placeholder="Add comment..."></textarea>
                        <!-- Post Comments Button -->
                        <button type="submit">Post</button>
                    </form>
                </div>
                {{/unless}}
                {{/if}}
            </div>
        </div>
    </div>
</main>



{{!-- <main>
    <section id="details-page">
        <div class="main_card">
            <div class="card_left">
                <div class="card_datails">

                    <h1>Name: {{name}}</h1>
                    <h3>Created by an author: {{creaturesOwner.firstName}} {{creaturesOwner.lastName}}</h3>
                    <div class="card_character">
                        <p class="card-species">Species: {{species}}</p>
                        <p class="card-skin">Skin colour: {{skinColor}}</p>
                        <p class="card-eye">Eye Colour: {{eyeColor}}</p>
                    </div>

                    <p class="disc">Description: {{description}}</p>

                    <!-- If there is no registered user, do not display buttons-->
                    {{#if user}}
                    <div class="social-btn">
                        <!-- Only for registered user and author of the post -->
                        {{#if isOwner}}
                        <a href="/creatures/{{_id}}/edit" class="edit-btn">Edit</a>
                        <a href="/creatures/{{_id}}/delete" class="del-btn">Delete</a>
                        {{else}}
                        {{#if isVoted}}
                        <!-- logged in user who has already voted-->
                        <p class="thanks-for-vote">Thanks For Voting</p>
                        {{else}}
                        <!-- logged in users, who have not yet voted-->
                        <a href="/creatures/{{_id}}/voted" class="vote-up">Vote</a>
                        {{/if}}
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="card_right">
                <img src="{{image}}" alt="image">
            </div>
        </div>

    </section>

    <section id="votes">
        <div class="vote-info">
            <div class="card_left">
                <div class="card_datails">
                    <h1>Votes</h1>
                    <div class="card_vote">
                        <!-- Show the rating of votes, if there are no votes yet, the number must be 0. -->
                        <p class="PV">Total rating of votes: {{creatureInfo.length}}</p>
                    </div>
                    <!-- If there are already people who have cast their vote for the post, separate their emails with a comma and a space ", " -->
                    <!-- <p class="disc">People who voted for the post - alex@gmai.com, petar@gmail.com, petq@gmail.com</p>-->

                    {{#if emails}}
                    <!-- If not display: -->
                    <p class="disc">People who voted for the post - {{emails}}</p>

                    {{else}}
                    <p class="disc">People who voted for the post - No one has voted yet.</p>

                    {{/if}}
                </div>
            </div>
        </div>
    </section>

</main> --}}