<main>

    <section id="home-page">
        <article class="auto-content">
            <h1>NEWS OF OUR</h1>
            <h2>ART GALLERY</h2>
        </article>
    </section>

    <section id="home-page-content">
        <h1>Statistics of shared publication</h1>
        <article class="home-page-content-publications">
            {{#if creatures}}
            <!--If there are publications in the database, show the following view for each created publication-->
            {{#each creatures}}
            <article class="content-publication">
                <h1>Title: {{title}}</h1>

                <!--If no one has shared the post yet, the number should be zero -->
                {{#if voteLength}}
                <p>Number of people shared the publication: {{voteLength}}</p>
                <a href="/creatures/{{_id}}/details" class="image-details">View publication</a>
                {{else}}
                <p>Number of people shared the publication: {{voteLength}}</p>
                <a href="/creatures/{{_id}}/details" class="image-details">View publication</a>
                {{/if}}
            </article>
           

            {{/each}}
            {{else}}
            <!--If there are no publications yet, show:-->
            <article class="no-publication">
                <h1>There are no publications yet.</h1>
                <a href="/creatures/all-posts" class="view-gallery">View Gallery</a>
            </article>
            {{/if}}
        </article>

    </section>

</main>