<main>
    <section id="my-posts">
        <h1>My post.</h1>

        <div class="my-container">
            <!-- If there are own posts for wildlife in the database display each of them -->
            {{#if creatures}}
            {{#each creatures}}
            <div class="my-card">
                <div class="card-header">
                    <img src="{{image}}" alt="water_fall" />
                </div>
                <div class="card-body">
                    <span class="tag tag-teal">Keyword: {{keyword}}</span>
                    <h4>
                        Title: {{title}}
                    </h4>
                    <div class="user">
                       
                           
                        <div class="user-info">
                            <h5>Author: {{owner.firstname}} {{owner.lastname}}</h5>
                            <small>Rating of votes: {{ratingofpost}}</small>
                        </div>
                    </div>
                </div>
            </div>
                {{/each}}
                {{else}}

            <!-- If there are still no own posts for wildlife in the database display: -->

            <div class="no-posts">
                <div class="no-posts-img">
                
                    <img src="/static/img/bear.jpg" alt="image_nature_3">
                </div>
                <p class="no-offer">There are no own posts yet...</p>
            </div>
            {{/if}}
        </div>
    </section>

</main>