<main class="search">

    <section id="search">
        <h2>Search by Name</h2>

        <form class="search-wrapper cf" method="GET" action="/creatures/search">
            <input id="#search-input" type="text" name="searchName" placeholder="Search here..." required />
            <button type="submit">Search</button>
        </form>

        <div id="search-container">
            <ul class="card-wrapper">
                <!-- Display a li with information about every post (if any)-->
                {{#each creatures}}
                <li class="card">
                    <img src="{{image}}" />
                    <p>
                        <strong>Name: </strong><span class="name">{{name}}</span>
                    </p>
                    <p>
                        <strong>Category: </strong><span class="category">{{category}}</span>
                    </p>
                    <p><strong>Formula:</strong><span class="formula">{{formula}}</span></p>
                    <a class="details-btn" href="/creatures/{{_id}}/details">Details</a>
                </li>
            
            {{else}}

            <!-- Display an h2 if there are no posts -->
            <div id="no-post">
                <h2>There are no results found.</h2>
            </div>
            {{/each}}
            </ul>

        </div>
    </section>
</main>