<main>
    <form class="search" action="/creatures/search" method="get">
        <input type="search" name="searchName" placeholder="Search here...">
        <button type="submit">Search</button>
    </form>
    <section id="find-section">

        <!-- If there are any matching matches from the search, show each of them -->
        {{#each creatures}}
        <div class="card">
            <h3>{{name}}</h3>
            <p>{{type}}</p>
            <div class="cta-container"><a href="/creatures/{{_id}}/details" class="det-link">Details</a></div>
            <div class="card_circle"><img src="{{image}}"></div>
        </div>

        {{else}}
        <!-- If there are no search matches, show: -->
        <div class="no-data-listing">
            <p class="no-offer">No match was found for the submitted type...</p>
        </div>
        {{/each}}
    </section>
</main>