<main>
    <div class="editPage">
        <h2>Edit photo</h2>

        <form method="POST">
            <p>
                <input type="text" name="name" placeholder="Name" value="{{creatures.name}}">
            </p>

            <p>
                <input type="number" name="age" placeholder="Age" value="{{creatures.age}}">
            </p>

            <p>
                <textarea type="text" name="description" placeholder="Description">{{creatures.description}}</textarea>
            </p>

            <p>
                <input type="text" name="location" placeholder="Location" value="{{creatures.location}}">
            </p>

            <p>
                <input type="text" name="image" placeholder="Link to image" value="{{creatures.image}}">
            </p>
            <!-- Add Photo Button -->
            <button class="edit-btn" type="submit">Edit Photo</button>
        </form>
    </div>
</main>