<main>
    <section class="py-5 details" id="trip-details-page">
        <div class="container">
            <div class="destination">
                <div>
                    <span class="icon"><i class="fas fa-map-marked-alt"></i></span>
                    <h5> from <span>{{creatures.start}}</span> to <span>{{creatures.end}}</span> </h5>
                </div>
                <div>
                    <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                    <h5> <span>{{creatures.date}}</span> at <span>{{creatures.time}}</span> </h5>
                </div>
            </div>
            <p class="line"></p>
            <div class="buddies-info">
                <i class="fas fa-users buddies"></i>
                <h5>Shared trip Buddies</h5>
                <div>

                    <!-- if there are joined buddies for the current trip separate them with comma and space", " -->
                    {{#if signUpListArr}}
                    <p>

                        {{#each signUpListArr}}
                        {{this.user.email}},
                        {{/each}}

                    </p>
                    {{else}}
                    <!-- If not display: -->
                    <p>there are no buddies yet...</p>
                    {{/if}}
                </div>
                <h5>Driver: <span>{{creatures.owner.email}}</span> </h5>
            </div>
            <p class="line"></p>
            <h5 class="brand">Car Brand: <span class="lead">{{creatures.brand}}</span></h5>
            <div class="trip-info">
                <div>
                    <img class="img-fluid rounded" src="{{creatures.image}}" alt="car-image">
                </div>
                <div class="trip-desc">
                    <h5>Information about the trip</h5>
                    <textarea class="lead" disabled>{{creatures.description}}</textarea>
                    <h5>Price: <span class="lead">{{creatures.price}}</span> BGN</h5>

                    <!-- if there are no logged in user do not show div with class actions  -->
                    {{#if isAuthenticated}}
                    <div class="actions">
                        <!-- Only for logged user and creator to this trip -->
                        {{#if isOwner}}
                        <a href="/creatures/{{creatures._id}}/delete" class="btn btn-danger">Delete this trip</a>
                        <a href="/creatures/{{creatures._id}}/edit" class="btn btn-warning">Edit this trip</a>
                        {{else}}

                        {{#if isSigned}}
                        <span class="btn btn-info">Already joined. Don't be late!</span>
                        {{else}}


                        {{#if isSigneUpListFull}}
                        <span class="btn btn-danger">No seats available</span>
                        {{else}}
                        <a href="/creatures/{{creatures._id}}/signup" class="btn btn-join">Join now, [
                            {{creatures.seats}} ] seats
                            left!</a>
                        {{/if}}

                        {{/if}}

                        {{/if}}

                        {{/if}}
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>